body{
    background-color: rgb(238, 128, 210);
}
h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-stretch: expanded;
}
.boton1{
   height:100%;
    width: 100%;
    align-items: center;

}
table{
    width: 100%;
}
td{
    width: 100%;
    
}
.boton2{
    height:20%;
    width: 100%;
    align-items: center;


}
.boton3{
    height:100%;
    width: 100%;
    align-items: center; }





