body{
    background-color: rgb(255, 240, 103);
}
h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-stretch: expanded;
}


h2{
    text-align: left;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.csgoimg{
    float: left;
    width: 80%;
}
.skyrimimg{
    float: left;
    width: 80%;
}
#textocsgo{
    font-family:'Geneva';
    font-size: medium;
    text-align: justify;

    
}
.divcontenedor
{

width:100%;
height:auto;
}
 
.divA
{
float:left;
width: 30%;

}
.divB
{
   
width: 70%;
float:right;

}
