body{
    background-color: rgb(255, 240, 103);
}
h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-stretch: expanded;
}


h2{
    text-align: left;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.csgoimg{
    float: left;
}
#textocsgo{
    display: inline-block;
    vertical-align: top;
    text-align: right;
    width: 50%;
}
.divcontenedor
{
border:1px solid black;
width:100%;
height:auto;


}
 
.divA
{
float:left;


}
.divB
{
float:right;

}